// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
// @import "node_modules/govuk-frontend/govuk/settings/all";
// The order we import settings in is important, as some settings files rely on
// others

@import "node_modules/govuk-frontend/govuk/settings/assets";

@import "node_modules/govuk-frontend/govuk/settings/compatibility";
@import "node_modules/govuk-frontend/govuk/settings/global-styles";
@import "node_modules/govuk-frontend/govuk/settings/ie8";

@import "node_modules/govuk-frontend/govuk/settings/media-queries";

@import "node_modules/govuk-frontend/govuk/settings/colours-palette";
@import "./colours";
@import "node_modules/govuk-frontend/govuk/settings/colours-organisations";
@import "node_modules/govuk-frontend/govuk/settings/colours-applied";

@import "node_modules/govuk-frontend/govuk/settings/spacing";
@import "node_modules/govuk-frontend/govuk/settings/measurements";

@import "node_modules/govuk-frontend/govuk/settings/typography-font-families";
@import "node_modules/govuk-frontend/govuk/settings/typography-font";
@import "node_modules/govuk-frontend/govuk/settings/typography-responsive";

// Override the default GOV.UK Frontend font stack
@font-face {
  font-family: "MarquisWeb";
  font-style: normal;
  src: url("/public/fonts/MarquisWeb-Regular.woff2") format("woff2"),
       url("/public/fonts/MarquisWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "MarquisWeb";
  font-style: italic;
  src: url("/public/fonts/MarquisWeb-Oblique.woff2") format("woff2"),
       url("/public/fonts/MarquisWeb-Oblique.woff") format("woff");
}

$govuk-font-family: "MarquisWeb", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@import "application";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/links";
@import "./components/buttons";

body,
html,
.govuk-template__body {
  @apply antialiased text-body font-marquis bg-pageWhite;
}

.govuk-heading-xl {
  @apply text-xl;
}

.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-s {
  font-weight: normal !important;
}

// body,
// html,
.govuk-body-m,
.govuk-body,
.govuk-list,
.govuk-table,
p {
  font-size: 16px;
  line-height: 24px;
  word-spacing: 0.05em;

  @screen md {
    @apply text-body;
    word-spacing: 0.05em;
  }
}

p {
  @apply max-w-body
}

p + p {
  @apply mt-3
}
p + .govuk-list {
  @apply mt-2
}

.govuk-main-wrapper {
  padding: 0 !important;
}

.govuk-width-container  {
  width: 100% !important;
  margin: 0 auto !important;
  max-width: none !important;
}

@layer components {
  @responsive {
    .grid-template-40x60 {
      grid-template-columns: 0.4fr 0.6fr;
    }
    .grid-template-40 {
      grid-template-columns: 0.4fr 0.4fr 0.2fr;
    }
    .grid-template-40-flow {
      grid-template-columns: 0.4fr 0.4fr 0.4fr;
    }
  }
}