
{% extends "layout_unbranded.html" %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}

{% block pageTitle %}
  JRF Prototype
{% endblock %}

{% block content %}
<div class='overflow-x-hidden'>

<!-- Header -->
  <div class="px-4 md:grid grid-template-40x60 gap-4">
    <div class="flex flex-col min-h-75vh w-full pb-4">
      <div class='py-4'>
        <img src='/public/images/jrf.png' style='height: 30px' />
      </div>
      <div class="flex-grow flex items-center text-center justify-center align-middle">
        <h1 class='inline-block block govuk-heading-xl my-6'>Housing and poverty</h1>
      </div>
      <section class='mt-auto'>
        <p class="">Rises in housing have increased the cost of living, particularly for people in poverty. Few people, when they think about it, blame personal choice as the sole cause of poverty. They understand that the quality of local jobs, the cost of housing, and welfare reforms matter too.</p>
        <section class='space-y-2 mt-5 mb-2'>
          <a class="jrf-button" href='#get-involved'>Get involved</a> 
        </section>
      </section>
    </div>
    <div class='hidden md:block bg-gray bg-no-repeat bg-cover bg-center' style='background-image: url(/public/images/cover-image.png)'>
    </div>
  </div>

  <div class='border-t border-border' ></div>

<!-- Summary -->
  <div id='summary' class="grid md:grid-template-40x60 min-h-75vh gap-4 p-4">
    <div class='order-last md:order-first'>
      <img src='/public/images/graph.png' />
    </div>
    <div class='order-first md:order-last max-w-xl'>
      <h2 class="govuk-heading-m">
        Summary
      </h2>
      <p class="pb-4">Government housing support helps to reduce poverty and its effects, but it is not always enough. Rising housing costs can trap people in poverty, unable to move for work or pay their rent without support.</p>
      <p class="pb-4">To use housing to solve UK poverty we must:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Increase the housing supply to 200,000 units a year by 2040.</li>
        <li>Make sure the proportion of social rented housing does not decrease.</li>
        <li>Stop social rents from rising to match private rents.</li>
        <li>Bring forward the Renters’ Reform Bill and end No Fault evictions.</li>
      </ol>

      <button class="mt-4 jrf-button">Read all recommendations</button>
      <button class="mt-4 jrf-button bg-transparent px-4 underline hover:no-underline">Share</button>
    </div>
  </div>

  <div class='border-b border-border'></div>

<!-- Network -->
  <div id='network' class="grid lg:grid-template-40x60 min-h-75vh gap-4">
    <div class='p-4 md:pr-0'>
      <h2 class="govuk-heading-m">
        Network
      </h2>
      <p class="govuk-body">Connect, learn and collaborate with people working to achieve housing justice in the UK. Use our network to find tenant unions, think tanks, grassroots campaigners and more.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
            Search by postcode
          </label>
        <input class="govuk-input" id="postcode-search" name="postcode-search" type="text">
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s hidden">Network</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Organisation</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Location</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="">Acorn</a></th>
            <td class="govuk-table__cell">Community union</td>
            <td class="govuk-table__cell">Brighton</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href=""></a>Housing Justice</a></th>
            <td class="govuk-table__cell">Charity</td>
            <td class="govuk-table__cell">Manchester</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href=""></a>London Renters Union</a></th>
            <td class="govuk-table__cell">Tenent Union</td>
            <td class="govuk-table__cell">Coalition</td>
          </tr>
        </tbody>
      </table>

      <button class="jrf-button">Explore the network</button> 
    </div>
    <div class="min-h-75vh" id='map'></div>
  </div>

  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY29tbW9ua25vd2xlZGdlIiwiYSI6ImNqc3Z3NGZxcDA4NGo0OXA2dzd5eDJvc2YifQ.f68VZ1vlc6s3jg3JgShd0A';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/commonknowledge/ckp5d136u0k7u18p9h2cgv9jk'
    }); 

    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());

    // Zoom with ctrl button
    map.scrollZoom.disable();
    map.scrollZoom.setWheelZoomRate(0.02); // Default 1/450

    map.on("wheel", event => {
      if (event.originalEvent.ctrlKey) { // Check if CTRL key is pressed
        event.originalEvent.preventDefault(); // Prevent chrome/firefox default behavior
        if (!map.scrollZoom._enabled) map.scrollZoom.enable(); // Enable zoom only if it's disabled
      } else {
        if (map.scrollZoom._enabled) map.scrollZoom.disable(); // Disable zoom only if it's enabled
      }
    });
  </script>
  
  <div class='border-b border-border' ></div>

<!-- Projects -->
  <div id='projects' class="md:grid grid-template-40x60 gap-4 p-4">
    <div>
      <h2 class="govuk-heading-m">
        Featured projects
      </h2>
      <p class="govuk-body">We work with people who have experienced poverty and the UK housing system. We co-design campaigns and policy recommendations to create solutions that work for the people that need them.</p>
    </div>
    <div class='my-4 md:my-0 md:py-4 md:float-r md:text-right'>
      <button class="jrf-button">View more projects</button>
    </div>
  </div>
  <div>
    <div class='px-4 grid md:grid-cols-2 lg:grid-cols-3 gap-4'>
      <article class="bg-yellow">
        <div class='bg-no-repeat bg-cover bg-center h-33vh' style='min-height: 270px; background-image: url(/public/images/project-1.png)'></div>
        <div class='p-4'>
          <header class='flex flex-row items-baseline mb-4'>
            <h3 class="govuk-heading-s m-0">
              Build, build, build social housing
            </h3>
            <date class='ml-auto pl-3'>6 Aug 2020</date>
          </header>
          <p class="govuk-body">Building social housing can stimulate our economy and make the housing market work for low-income households. The best thing we can do for our recovery is to make sure we have enough social housing for those who need it most.</p>
        </div>
      </article>

      <article class="bg-greenLight">
        <div class='bg-no-repeat bg-cover bg-center h-33vh' style='min-height: 270px; background-image: url(/public/images/project-2.png)'></div>
        <div class='p-4'>
          <header class='flex flex-row items-baseline mb-4'>
            <h3 class="govuk-heading-s m-0">
              Give Poverty A Voice
            </h3>
            <date class='ml-auto pl-3'>6 Aug 2020</date>
          </header>
          <p class="govuk-body">ATD Fourth World’s Giving Poverty a Voice project strives to support people experiencing poverty and inequality inLondon to engage and participate in their communities and have their say on the decisions that affect their lives. The project also seeks to build networks with grassroots and community.</p>
        </div>
      </article>

      <article class="bg-gray">
        <div class='bg-no-repeat bg-cover bg-center h-33vh' style='min-height: 270px; background-image: url(/public/images/project-3.png)'></div>
        <div class='p-4'>
          <header class='flex flex-row items-baseline mb-4'>
            <h3 class="govuk-heading-s m-0">
              Renters Reform Coalition
            </h3>
            <date class='ml-auto pl-3'>6 Aug 2020</date>
          </header>
          <p class="govuk-body">We have joined 19 other charities, think-tanks, housing and renter organisations to form the Renters' Reform Coalition. We are united in our mission to reform the private rented sector so that everyone who relies on it for their home can prosper.</p>
        </div>
      </article>
    </div>
  </div>

  <div class='mt-4 border-b border-border' ></div>

<!-- Get involved -->
<div id='get-involved' class="md:grid md:grid-cols-2 min-h-75vh gap-4 p-4 border-b border-border">
  <div>
    <h2 class="govuk-heading-m">
      Get involved
    </h2>
    <p class="govuk-body">Achieving housing justice and ending poverty is possible. Take action to keep learning, stay updated and build connections.</p> 
  </div>
  <div class='space-y-4 mr-4'>
    <div class='bg-blueLight p-4'>
      <a class="govuk-heading-s underline">Join the online community</a>
      <p class="govuk-body">Get advice, share information, and find solutions. Meet other people who are solving poverty through housing.</p>
    </div>
    
    <div class='bg-blueLight p-4'>
      <a class="govuk-heading-s underline">Work with us</a>
      <p class="govuk-body">Build on our joint experience and expertise. We can support you to do more.</p>
    </div>

    <div class='bg-blueLight p-4'>
      <a class="govuk-heading-s underline">Sign up to the newsletter</a>
      <p class="govuk-body">Stay up to date on the latest research, partner stories, events and training.</p>
    </div>
  </div>
</div>

<div class='pb-4'></div>

<!-- All content -->
<div class="min-h-75vh gap-4 p-4 border-b border-border">
  <div>
    <h2 class="govuk-heading-m mb-4">
      All content on Housing
    </h2>
    <form class='grid md:grid-cols-4 gap-4 text-detail'>
      <label class='block md:col-span-2'>
        <div class='text-text text-opacity-70 mb-2'>Search</div>
        <input
          class='border-gray block w-full text-detail bg-right bg-no-repeat' type='search'
          placeholder='Search by title, topic or author'
          style='background-image: url(/public/images/search.png); background-size: 24px; background-position: 99% 50%;'
        />
      </label>
      <label class='block'>
        <div class='text-text text-opacity-70 mb-2'>Filter by</div>
        <select class='border-gray w-full block text-detail text-text text-opacity-70'>
          <option disabled selected>Content type</option>
          <option>Dataset</option>
          <option>Report</option>
          <option>Resource</option>
          <option>Story</option>
        </select>
      </label>
      <label class='block'>
        <div class='text-text text-opacity-70 mb-2'>Sort by</div>
        <select class='border-gray w-full block text-detail text-text text-opacity-70'>
          <option disabled selected>Date</option>
          <option>Date</option>
          <option>Content Type</option>
          <option>Title</option>
        </select>
      </label>
    </form> 
    <div class='pb-4'></div>
    <table class="govuk-table">
      <caption class="hidden govuk-table__caption govuk-table__caption--m font-normal">
        <h2>All content on Housing</h2>
      </caption>
      <!-- <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header hidden">Title, topic or author</th>
          <th scope="col" class="govuk-table__header hidden">Content type</th>
          <th scope="col" class="govuk-table__header hidden">Date</th>
        </tr>
      </thead> -->
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row border-t border-borderTable">
          <th scope="row" class="govuk-table__header">UK Poverty 2019/20: Housing</th>
          <td class="govuk-table__cell">Report</td>
          <td class="govuk-table__cell">13 May 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Laying the foundations for a Scotland without poverty</th>
          <td class="govuk-table__cell">Dataset</td>
          <td class="govuk-table__cell">10 February  2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Struggling renters need a lifeline this winter</th>
          <td class="govuk-table__cell">Story</td>
          <td class="govuk-table__cell">5 January 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Build, build, build social housing</th>
          <td class="govuk-table__cell">Report</td>
          <td class="govuk-table__cell">5 December 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reporting poverty: a guide for media professionals</th>
          <td class="govuk-table__cell">Resource</td>
          <td class="govuk-table__cell">12 November 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">UK Poverty 2019/20: Housing</th>
          <td class="govuk-table__cell">Report</td>
          <td class="govuk-table__cell">13 May 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Laying the foundations for a Scotland without poverty</th>
          <td class="govuk-table__cell">Dataset</td>
          <td class="govuk-table__cell">10 February  2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Struggling renters need a lifeline this winter</th>
          <td class="govuk-table__cell">Story</td>
          <td class="govuk-table__cell">5 January 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Build, build, build social housing</th>
          <td class="govuk-table__cell">Report</td>
          <td class="govuk-table__cell">5 December 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reporting poverty: a guide for media professionals</th>
          <td class="govuk-table__cell">Resource</td>
          <td class="govuk-table__cell">12 November 2020</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class='pb-4 ' ></div>

<!-- Team -->
<div class="md:grid grid-template-40x60 gap-4 p-4">
  <div>
    <h2 class="govuk-heading-m">
      Team
    </h2>
    <p class="govuk-body">We are housing and poverty experts. We want to work with action groups and people with lived experience of poverty to learn more and support your work.</p> 

    <p>Talk to us about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Designing policy recommendations and campaigns </li>
      <li>Funding or supporting your organisation</li>
      <li>Framing your housing, homelessness and poverty messages.</li>
    </ul>
  </div>
</div>

<div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4 p-4">

  <div class='bg-blueLight p-4 flex justify-between flex-col'>
    <div class='bg-no-repeat bg-cover bg-center mb-4' style='height: 220px; background-image: url(/public/images/people/crop_rachellepic.png)'></div>
    <h3 class="govuk-heading-s">Rachelle Earwaker</h3>
    <p>Economist</p>
    <p>
      My work focuses on decent and affordable housing. I previously worked as an analyst at the New Zealand Treasury, where I coordinated the Budgets. This included implementing the first Wellbeing Budget in 2019.
    </p>
    <p>Talk to me about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>affordable housing</li>
      <li>social housing</li>
    </ul>
    <button class="jrf-button jrf-button-secondary mb-0">Book a meeting</button>
  </div>

  <div class='bg-blueLight p-4 flex justify-between flex-col'>
    <div class='bg-no-repeat bg-cover bg-center mb-4' style='height: 220px; background-image: url("/public/images/people/tony_mckenzie_bw 1.png")'></div>
    <h3 class="govuk-heading-s">Tony McKenzie</h3>
    <p>Senior Participation Officer</p>
    <p>
      I lead on our participatory co-design processes and collaborations. I develop policy solutions with the help of people with direct experience of poverty.
    </p>
    <p>Talk to me about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>citizen science</li>
      <li>co-designing solutions</li>
      <li>policy solutions</li>
    </ul>
    <button class="jrf-button jrf-button-secondary mb-0">Book a meeting</button>
  </div>

  <div class='bg-blueLight p-4 flex justify-between flex-col'>
    <div class='bg-no-repeat bg-cover bg-center mb-4' style='height: 220px; background-image: url("/public/images/people/rachel_casey_headshot_6 2.png")'></div>
    <h3 class="govuk-heading-s">Rachel Casey</h3>
    <p>Housing Policy Officer</p>
    <p>
      I work on development of housing policy at JRF. I develop collaborative solutions and partnerships to ensure more people live in a decent, affordable home.
    </p>
    <p>Talk to me about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>housing policy</li>
      <li>co-design partnerships</li>
      <li>homelessness</li>
    </ul>
    <button class="jrf-button jrf-button-secondary mb-0">Book a meeting</button>
  </div>

  <div class='bg-blueLight p-4 flex justify-between flex-col'>
    <div class='bg-no-repeat bg-cover bg-center mb-4' style='height: 220px; background-image: url(/public/images/people/square_-_darren_baxter_bw.png)'></div>
    <h3 class="govuk-heading-s">Darren Baxter</h3>
    <p>Housing Policy Manager</p>
    <p>
      I lead the development of housing policy at JRF. We develop solutions and partnerships to ensure more people live in a decent, affordable home. 
    </p>
    <p>Talk to me about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>housing policy</li>
      <li>partnerships</li>
      <li>research</li>
    </ul>
    <button class="jrf-button jrf-button-secondary mb-0">Book a meeting</button>
  </div>

  <div class='bg-blueLight p-4 flex justify-between flex-col'>
    <div class='bg-no-repeat bg-cover bg-center mb-4' style='height: 220px; background-image: url("/public/images/people/camile_furtado_photo_profile 1.png")'></div>
    <h3 class="govuk-heading-s">Camille Furtado</h3>
    <p>UK Poverty Campaigns Manager</p>
    <p>
      I lead on our work with people who have direct experience of poverty, from communities across the UK. My role involves strengthening grassroots-led advocacy and campaign work.
    </p>
    <p>Talk to me about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>grassroots-led advocacy</li>
      <li>community organising</li>
      <li>human rights</li>
    </ul>
    <button class="jrf-button jrf-button-secondary mb-0">Book a meeting</button>
  </div>

</div>


</div>
{% endblock %}
