
{% extends "layout_unbranded.html" %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}

{% block pageTitle %}
  JRF Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        JRF prototype
      </h1>

      <h2>Pages</h2>

      <ul>
        <li><a href="housing-centre.html">Housing centre</a></li>
        <li><a href=""></a>Network</a></li>
        <li><a href=""></a>Collaboration</a></li>
      </ul>
      
    </div>
  </div>

{% endblock %}
